[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
future = "*"
corner = "*"
numpy = "==1.15.2"
ligotimegps = "<=1.2.3"
matplotlib = "<3"
scipy = ">=0.16"
pandas = "==0.23.0"
deepdish = "==0.3.6"
mock = "*"
astropy = "<3"
gwpy = "*"
theano = "*"
lalsuite = "*"
dill = "*"

# cpnest = "*"
dynesty = "*"
emcee = "*"
nestle = "*"
ptemcee = "*"
pymc3 = "*"

[requires]

[dev-packages]

[pipenv]
allow_prereleases = false
