bilby.cython>=0.3.0
dynesty>=2.0.1,<2.2
emcee
corner
numpy
matplotlib
# see https://github.com/healpy/healpy/pull/953
scipy>=1.5
pandas
dill
tqdm
h5py
attrs
importlib-metadata>=3.6; python_version < '3.10'
