# see https://github.com/data-apis/array-api-compat/pull/341
array_api_compat>=1.13
array_api_extra
dynesty>=2.0.1
emcee
corner
numpy
matplotlib
# see https://github.com/healpy/healpy/pull/953
scipy>=1.5
pandas
dill
tqdm
h5py
attrs
plum-dispatch
