bilby.cython>=0.3.0
# remove pin after https://git.ligo.org/lscsoft/bilby/-/merge_requests/1368
dynesty>=2.0.1,<2.1.4
emcee
corner
numpy
matplotlib
# remove pin after https://git.ligo.org/lscsoft/bilby/-/merge_requests/1368
scipy>=1.5,<1.14
pandas
dill
tqdm
h5py
attrs
importlib-metadata>=3.6; python_version < '3.10'
