# This is a template yaml file for the test image
# The python version should be added before creating the env
channels:
  - conda-forge
  - defaults
dependencies:
  - pip
  - setuptools
  - matplotlib
  - numpy
  - scipy
  - pandas
  - astropy
  - flake8
  - anaconda
  - coverage
  - configargparse
  - future
  - dill
  - black
  - pytest-cov
  - arviz
  - parameterized
  - scikit-image
  - celerite
  - george
  - corner
  - healpy
  - cython
  - pytables
  - pytorch
  - python-lalsimulation
  - bilby.cython
  - pyseobnr
  - ligo-gracedb
  - gwpy
  - ligo.skymap
  - sphinx
  - numpydoc
  - nbsphinx
  - sphinx_rtd_theme
  - sphinx-tabs
  - dynesty
  - emcee
  - nestle
  - ptemcee
  - pymultinest
  - ultranest
  - cpnest
  - kombine
  - dnest4
  - zeus-mcmc
  - pytorch
  - pymc>=5.9
  - nessai
  - ptmcmcsampler
  - jaxlib>=0.4
  - jax>=0.4
  - numba>0.53.1
  - pip:
    - autodoc
