name: Publish Python distribution to PyPI

on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"
    - name: Install pypa/build
      run: >-
        python3 -m
        pip install
        build
        --user
    - name: Build without local version for testpypi
      if: "!startsWith(github.ref, 'refs/tags/')"
      run: SETUPTOOLS_SCM_OVERRIDES_FOR_BILBY='{local_scheme="no-local-version"}' python3 -m build
    - name: Build a binary wheel and a source tarball
      if: startsWith(github.ref, 'refs/tags/')
      run: python3 -m build
    - name: Store the distribution packages
      uses: actions/upload-artifact@v4
      with:
        name: python-package-distributions
        path: dist/

  pypi-publish:
    name: Upload release to PyPI
    if: github.event_name == 'release' && github.event.action == 'published' && github.repository == 'bilby-dev/bilby'
    needs:
      - build
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  pypi-test-publish:
    name: Upload to TestPyPI
    if: github.repository == 'bilby-dev/bilby'
    needs:
      - build
    runs-on: ubuntu-latest
    environment: test-release
    permissions:
      id-token: write
    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
